<?xml version="1.0" encoding="utf-8"?>

<!-- The manifest file is the core file for the app, names the app package,
    declares permissions, libraries, API levels, ... -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zol_dossierfotos">

    <!-- Set the minimum screen width for the app,
        devices with lower spec will not be compatible. -->
    <supports-screens android:requiresSmallestWidthDp="320" />

    <!-- Permissions and features needed for the app to function can be set here. -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- The app icon and title strings are here by id's,
        the values are passed from res/values/strings.xml,
        also we've set the orientation to portrait only
        and set largeHeap so we don't bottleneck the app's memory usage. -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/zol_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- File provider for file URI in API >24 specifically needed for our cameraIntent. -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Activity for launching our app (SplashScreen). -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http://www.zol.be/epdscanner” -->
                <data
                    android:host="www.zol.be"
                    android:pathPrefix="/epdscanner"
                    android:scheme="http" />

                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "zol://epdscanner” -->
                <data
                    android:host="epdscanner"
                    android:scheme="zol" />
            </intent-filter>
        </activity>

        <!-- Activity for login, launched after SplashScreen is finished. -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- MainActivity that we use for our processing. -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity for the barcodescanner -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation">
        </activity>

        <!-- Activity for the ImageCropper -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat">
        </activity>

    </application>

</manifest>